/* Basic reset */

* {
   margin: 0;
   padding: 0;
   text-decoration: none;
   list-style: none;
   box-sizing: border-box;
}

h3 {
   text-align: center;
   color: rgb(243, 245, 243);
   background: #6f736f;
   padding: 1rem;
   margin: 1rem 0 1rem 0;
   letter-spacing: 3px;
   font-weight: 300;
}

.top-text {
   font-size: 0.8rem;
   text-align: center;
   color: rgb(243, 245, 243);
   background: #6f736f;
   padding: 1rem;
   margin: 0;
   letter-spacing: 3px;
   font-weight: 300;
   margin: 0 0 1rem 0;
}

/* Navigation */

.header-nav ul {
   width: 50%;
   min-height: 100vh;
   position: fixed;
   z-index: 1;
   right: 0;
   margin-bottom: 0;
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   transition: 0.3s ease-in-out;
   border-left: 1px solid #767b77;
   transform: translateX(100%);
}

.header-nav li {
   flex: 1;
   background: rgba(151, 151, 151, 0.8);
   display: flex;
   border-bottom: 1px solid #767b77;
}

.header-nav a {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   color: red;
   font-size: 2rem;
}

.header-nav a:hover {
   background: red;
   text-decoration: none;
   color: white;
}

.nav-button {
   width: 65px;
   height: 65px;
   background: rgba(151, 151, 151, 0.5);
   position: fixed;
   z-index: 1;
   left: 20px;
   bottom: 50px;
   transform: translateY(50%);
   border-radius: 50%;
   transition: 0.5s ease-in-out;
}

.nav-button:hover {
   background: red;
}

/* Slick slider */

.carousel img {
   width: 100%;
   height: auto;
}

/* Turn off slider arrows */

.slick-prev, .slick-next {
   display: none !important;
}

/* Basic cards */

.card {
   border: none;
   border-top: 1px solid rgb(151, 151, 151);
   border-radius: 0;
}

/* Remove border from every first card */

.card:nth-child(1) {
   border-top: none;
}

#about .card {
   text-align: center;
}

.card-title {
   font-size: 2rem;
   letter-spacing: 3px;
   color: #6f736f;
   font-weight: 600;
   text-align: center;
   padding-bottom: 1rem;
}

#about .card-subtitle {
   text-align: center;
   padding-bottom: 0.3rem;
   margin: 1rem 0 2.5rem 0;
   letter-spacing: 2.5px;
   font-size: 1.5rem;
   color: #767b77;
   display: inline-block;
   border-bottom: 1px solid rgb(151, 151, 151);
}

.card-text {
   letter-spacing: 2px;
   line-height: 1.8;
   font-weight: 300;
   color: #767b77;
}

.card-img-bottom {
   border-radius: 0;
}

/* Section contact */

#contact {
   margin-top: 1rem;
}

.social {
   display: grid;
   grid-template-columns: 1fr 1fr;
   text-align: center;
   font-size: 5rem;
}

.social a {
   color: #767b77;
}

.social a:hover {
   color: red;
}

.social i {
   padding: 2rem 2rem 3rem 2rem;
}

/* Footer */

.footer {
   background: #6f736f;
   color: rgb(243, 245, 243);
   padding: 2rem;
   text-align: center;
}

/* Utilities */

.text-red {
   color: red;
}

/* Media queries */

@media (min-width: 600px) {
   .social {
      grid-template-columns: repeat(4,1fr);
   }
}

@media (min-width: 850px) {
   .grid {
      display: grid;
      grid-template-columns: 1fr 1fr;
   }
   .grid .card:nth-child(odd) {
      border-right: 1px solid rgb(151, 151, 151);
   }
   .grid .card:nth-child(-n+2) {
      border-top: 0;
   }
}
